/**
 * space
 */

.space {
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (min-width: 768px) { /* tablet */
  .space {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/**
 * course
 */

.course {
  background-color: var(--secondary-color);
}

.course__promo {
  position: relative;

  height: 37.5rem;
  overflow: hidden;
  margin: 0;
  margin-bottom: 3.5rem;

  color: var(--secondary-color);
}

.course__figcaption {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;

  display: flex;
  flex-direction: column;
}

.course__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.course__promo-link {
  align-self: flex-start;
  display: inline-block;
  margin-bottom: 2rem;
  padding-right: 1.125rem;

  color: var(--secondary-color);
  text-decoration: none;

  background-image: url("../images/svg/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: 0.45rem;
  background-position: right center;
}

.course__promo-link:hover {
  text-decoration: underline;
}

.course__promo-title {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-weight: normal;
  font-size: 2rem;
}

.course__promo-description {
  margin-top: 0;
  margin-bottom: auto;
  max-width: 1100px;
}

.course__promo-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.course__promo-item {
  position: relative;

  max-width: 300px;
  padding-top: 4.5rem;
  
  font-size: 1.125rem;

  background-repeat: no-repeat;
  background-size: 3.5rem;
  background-position: top left;
}

.course__promo-item--teacher {
  background-image: url("../images/svg/icons/teacher-icon.svg");
}

.course__promo-item--clock {
  background-image: url("../images/svg/icons/clock-icon.svg");
}

.course__promo-item--level {
  background-image: url("../images/svg/icons/level-icon.svg");
}

.course__course-item--tempo {
  background-image: url("../images/svg/icons/tempo-icon.svg");
}

.course__feedback {
  margin-bottom: 6rem;
}

.course__feedback-title {
  margin-top: 0;
  margin-bottom: 2rem;
  
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.course__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 50px;
  grid-gap: 3rem;
}

.course__input {
  border: 1px solid var(--gray-color);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.course__input:focus {
  border-color: var(--blue-color);
  outline: none;
}

.course__button {
  font-size: 1.3rem;
  color: var(--secondary-color);

  background-color: var(--blue-color);
  border: none;

  transition-property: background-color;
  transition-duration: 0.75s;
}

.course__button:hover {
  background-color: var(--dark-blue-color);

  cursor: pointer;
}

.course__section {
  margin-bottom: 6rem;
}

.course__section:last-child {
  margin-bottom: 0;
}

.course__title {
  margin-bottom: 3.5rem;
}

.course__subtitle {
  margin-bottom: 1.5rem;

  font-size: 1.4rem;
  font-weight: normal;
  text-align: left;
}

.course__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-auto-rows: minmax(3.5rem, auto);
  grid-gap: 4.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@media (min-width: 1024px) { /* desktop */
  .course__list {
    grid-gap: 6rem;
  }
}

.course__list-item {
  position: relative;

  padding-left: 5rem;
}

.course__list-item::before {
  content: attr(data-count);

  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;

  font-size: 1.5rem;
  color: var(--secondary-color);

  border-radius: 50%;
  background-color: var(--blue-color);

  transform: translateY(-50%);
}

.course__list-description {
  max-width: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.course__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

@media (min-width: 768px) { /* tablet */
  .course__wrapper {
    grid-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}

.course__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course__description {
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.course__description:last-child {
  margin-bottom: 0;
}

.course__diagram {
  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
  
  border-radius: 50%;
}

.course__content {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.course__content--diagram {
  width: 185px;
}

.course__content-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 0.6rem;
  padding-left: 1.5rem;
}

.course__content-item::before {
  content: "";

  --circle-background-color: #7db0f0;

  position: absolute;
  top: 50%;
  left: 0;

  width: 0.75rem;
  height: 0.75rem;

  border-radius: 50%;
  background-color: var(--circle-background-color);

  transform: translateY(-50%);
}

.course__content-item--reading::before {
  --circle-background-color: #fd8b74;
}

.course__content-item--writting::before {
  --circle-background-color: #b3dd86;
}

.course__content-item--listening::before {
  --circle-background-color: #bda8f0;
}

.course__content-item--vocabulary::before {
  --circle-background-color: #ffd876;
}

.course__content-item--grammar::before {
  --circle-background-color: #f09fcd;
}

.course__content-item:last-child {
  margin-bottom: 0;
}

.course__content-line {
  width: 100%;
  height: 1px;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  background-color: var(--light-gray-color);
}