/**
 * main
 */

.main {
  background-color: var(--secondary-color);
}

.main__tariffs {
  padding-bottom: 3.5rem;
}

.main__about {
  padding: 3rem 1.5rem;
}

@media (min-width: 768px) { /* tablet */
  .main__about {
    padding: 6rem 4rem;
  }
}

.main__teachers {
  padding: 3rem 1rem;
}

@media (min-width: 768px) { /* tablet */
  .main__teachers {
    padding: 7rem 2.5rem;
  }
}

/**
 * promo
 */

.promo {
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: minmax(20.5rem, auto);

  background-image: url("../images/main-bg.png");
  background-color: var(--light-blue-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) { /* tablet */
  .promo {
    grid-auto-rows: minmax(37.5rem, auto);
  }
}

@media (min-width: 1024px) { /* tablet */
  .promo {
    grid-auto-rows: minmax(42.5rem, auto);
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: var(--secondary-color);
}

@media (min-width: 768px) { /* tablet */
  .promo__title {
    font-size: 2.5rem;
    text-align: center;
  }
}

.promo__break {
  display: none;
}

@media (min-width: 768px) { /* tablet */
  .promo__break {
    display: block;
  }
}

/**
 * box
 */

.box {
  position: relative;

  max-width: 700px;
  padding: 3rem;

  border: 1px solid black;
}

@media (min-width: 768px) { /* tablet */
  .box {
    padding: 7rem;
  }
}

.box--teachers {
  padding: 5rem;
}

.box__title {
  position: absolute;
  top: -0.75em;
  left: 50%;

  padding-left: 3.5rem;
  padding-right: 3.5rem;

  font-size: 1.5rem;

  background-color: var(--secondary-color);

  transform: translateX(-50%);
}

@media (min-width: 768px) { /* tablet */
  .box__title {
    font-size: 2rem;
  }
}

.box__title--reverse {
  background-color: var(--dark-white-color);
}

/**
 * about
 */

.about {
  display: flex;
  justify-content: center;

  background-color: var(--dark-white-color);
}

.about__title {
  margin-bottom: 2.5rem;
  align-self: center;
}

.about__section {
  max-width: 800px;
  align-self: center;
}

.about__description {
  margin-top: 0;
  margin-bottom: 2rem;
}

.about__description:last-of-type {
  margin-bottom: 2.5rem;
}

.about__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.about__list-item {
  margin-bottom: 1.5rem;
}

.about__list-item:last-of-type {
  margin-bottom: 0;
}

.about__list .about__description { /* That's not BEM :( */
  margin-bottom: 0;
}

.about__list .about__description::before {
  counter-increment: section;
  content: counter(section) ". ";
}

/**
 * courses
 */

.courses {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) { /* tablet */
  .courses {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.courses__main-title {
  margin-bottom: 2.5rem;
}

.courses__wrapper {
  --section-width: 325px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--section-width), 1fr));
  justify-items: center;
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 3rem;
}

@media (min-width: 768px) { /* tablet */
  .courses__wrapper {
    --section-width: 450px;

    justify-items: stretch;
  }
}

.courses__section {
  position: relative;

  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
}

@media (min-width: 768px) { /* tablet */
  .courses__section {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
  }
  
  .courses__section::before {
    content: "";
  
    position: absolute;
    top: 2rem;
    left: 1.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
  
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
  
    border-radius: 50%;
    background-color: var(--blue-color);
  }
  
  .courses__section--beginner::before {
    content: "b";
  }
  
  .courses__section--elementary::before {
    content: "e";
  }
  
  .courses__section--pre-intermediate::before {
    content: "p";
  }
  
  .courses__section--intermediate::before {
    content: "i";
  }
  
  .courses__section--upper-intermediate::before {
    content: "u";
  }
  
  .courses__section--advanced::before {
    content: "a";
  }
}

.courses__title {
  margin-top: 0;
  margin-bottom: 0.75rem;

  font-size: 1.5rem;

  font-weight: normal;
}

.courses__levels {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.courses__levels-title {
  margin-top: 0;
  margin-right: 1.5rem;
  margin-bottom: 0;

  color: var(--different-gray-color);
  font-weight: normal;
}

.courses__levels-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  
  list-style: none;
}

.courses__levels-item {
  width: 8px;
  height: 8px;
  margin-right: 0.75rem;

  background-color: var(--medium-gray-color);
  border-radius: 50%;
}

.courses__levels-item:last-child {
  margin-right: 0;
}

.courses__levels-item--current {
  background-color: var(--blue-color);
}

.courses__subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
}

.courses__skills {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;

  list-style: none;
}

.courses__skills-item {
  position: relative;

  padding-left: 1rem;
  margin-bottom: 0.5rem;

  font-size: 0.9rem;
}

.courses__skills-item::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 5px;
  height: 5px;

  background-color: var(--different-gray-color);
  border-radius: 50%;

  transform: translateY(-50%);
}

.courses__skills-item:last-child {
  margin-bottom: 0;
}

.courses__link {
  color: var(--blue-color);
}

.courses__link:hover {
  text-decoration: none;
}

/**
 * teachers
 */

.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: var(--dark-white-color);
}

.teachers__title {
  margin-bottom: 4rem;
  width: 100%;
}

.teachers__figure {
  margin: 0;
  max-width: 600px;
}

@media (min-width: 1024px) { /* desktop */
  .teachers__figure {
    display: flex;

    max-width: 1000px;
  }
}

.teachers__image {
  vertical-align: top;
  width: 100%;
}

.teachers__figcaption {
  position: relative;

  padding: 2.5rem;

  background-color: var(--secondary-color);
}

@media (min-width: 1024px) { /* desktop */
  .teachers__figcaption::before {
    --border-size: 3.0rem;
  
    content: "";
  
    position: absolute;
    top: 50%;
    left: -3.0rem;
  
    border-top: var(--border-size) solid transparent;
    border-right: var(--border-size) solid var(--secondary-color);
    border-bottom: var(--border-size) solid transparent;
  
    transform: translateY(-50%);
  }
}

.teachers__figcaption .teachers__title { /* That's bad...*/
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.teachers__description {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.teachers__description:last-of-type {
  margin-bottom: 0;
}

/**
 * comments
 */

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  margin-bottom: 1.5rem;
  
  background-color: var(--dark-white-color);
}

.comments__title {
  margin-top: 0;
  margin-bottom: 4.5rem;
}

.comments__button {
  --size: 3.5rem;

  position: absolute;
  top: 50%;

  width: var(--size);
  height: var(--size);

  background-color: var(--gray-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
  border-radius: 100%;
  opacity: 0.4;

  transform: translateY(-50%);

  transition-property: opacity;
  transition-duration: 0.75s;
}

.comments__button:hover {
  cursor: pointer;
  opacity: 1;
}

.comments__button:disabled {
  cursor: not-allowed;
}

.comments__button--previous {
  left: 0;

  background-image: url("../images/svg/icons/left-arrow.svg");
}

.comments__button--next {
  right: 0;

  background-image: url("../images/svg/icons/right-arrow.svg");
}

.comments__block {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1000px;
  height: 200px;
}

.comments__wrapper {
  width: 800px;
  height: 200px;
  margin-bottom: 2rem;

  overflow: hidden;
}

.comments__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 9999px;

  list-style: none;

  transition-property: margin-left;
  transition-duration: 0.75s;
}

.comments__item {
  width: 800px;
  height: 200px;
}

.comments__figure {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.comments__image {
  margin-right: 3rem;
  width: 200px;
  height: 200px;

  vertical-align: top;
}

.comments__author {
  margin-top: 0;
  margin-bottom: 1rem;
  
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
}

.comments__quote {
  margin: 0;
}

.comments__quote::before {
  content: open-quote;
}

.comments__quote::after {
  content: close-quote;
}

.comments-count {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.comments-count__item {
  width: 6px;
  height: 6px;
  margin-right: 0.8rem;

  border: 3px solid var(--gray-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 0.75s;
}

.comments-count__item:last-child {
  margin-right: 0;
}

.comments-count__item:hover,
.comments-count__item--current {
  background-color: var(--gray-color);

  cursor: pointer;
}