/**
 * global variables
 */

:root {
  --primary-color: #465491;
  --secondary-color: #ffffff;
  --purple-color: #6c7ab8;
}
/**
 * html
 */

html {
  font-size: 12px;
}

@media (min-width: 768px) { /* tablet */
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) { /* desktop */
  html {
    font-size: 16px;
  }
}

/**
 * page
 */

.page {
  display: grid;
  grid-template-columns: minmax(320px, 1600px);
  justify-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--secondary-color);

  background-color: var(--primary-color);
}

.page__header {
  margin-bottom: 1.5rem;
}

.page__main {
  padding: 6rem 3rem;
}

/**
 * visually-hidden
 */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
}

/**
 * main
 */

.main {
  background-color: var(--secondary-color);
}

/**
 * header
 */

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: var(--secondary-color);
}

@media (min-width: 768px) { /* tablet */
  .header {
    padding-right: 0;
  }
}

.header__logo {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 2rem;
  color: var(--primary-color);
}

.header__menu {
  width: 35px;
  height: 21px;

  background-color: transparent;
  background-image: url("../images/svg/icons/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  outline: none;
}

.header__menu--active {
  background-image: url("../images/svg/icons/close-icon.svg");
}

@media (min-width: 768px) { /* tablet */
  .header__menu {
    display: none;
  }
}

.header__navigation {
  position: absolute;
  top: 101px;
  right: 0;
  left: 0;
  z-index: 1;

  display: none;
}

@media (min-width: 768px) { /* tablet */
  .header__navigation {
    position: static;
    top: auto;
    right: auto;
    left: auto;

    display: block;
  }
}

.header__navigation--active {
  display: block;
}

.header__navigation-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

@media (min-width: 768px) { /* tablet */
  .header__navigation-list {
    display: flex;
  }
}

.header__navigation-item:last-child .header__navigation-link {
  border-bottom: 0;
}

.header__navigation-link {
  display: block;
  padding: 1.5rem;

  font-size: 1.5rem;
  background-color: var(--purple-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
}

@media (min-width: 768px) { /* tablet */
  .header__navigation-link {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 1rem;
    color: var(--primary-color);
    line-height: 100px;

    background-color: var(--secondary-color);
    border-bottom: none;
  }

  .header__navigation-link:hover {
    color: var(--secondary-color);
    
    background-color: var(--purple-color);
  }
}