/**
 * global variables
 */

:root {
  --primary-color: #4d4d4d;
  --secondary-color: #ffffff;
  --gray-color: #e1e1e1;
  --dark-gray-color: #eeeeee;
  --green-color: #63856a;
  --dark-green-color: #3c5a40;
}
/**
 * html
 */

html {
  font-size: 12px;
}

@media (min-width: 768px) { /* tablet */
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) { /* desktop */
  html {
    font-size: 16px;
  }
}

/**
 * img
 */

img {
  max-width: 100%;
  height: auto;
}

/**
 * page
 */

.page {
  display: grid;
  grid-template-columns: minmax(320px, 1600px);
  justify-content: center;
  padding-top: 8.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--secondary-color);

  background-color: var(--dark-gray-color);
}

.page__header {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.page__main {
  padding-bottom: 4rem;
}

/**
 * visually-hidden
 */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
}

/**
 * main
 */

.main {
  background-color: var(--secondary-color);
}

.main__promo {
  margin-bottom: 3.5rem;
}

/**
 * header
 */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--gray-color);
  box-sizing: border-box;
  overflow: hidden;
}

.header__logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3.3rem;

  font-size: 1.6rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 3px;

  background-image: url("../images/svg/content/logo.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 1.5em;
}

@media (min-width: 768px) { /* tablet */
  .header__logo {
    padding-left: 4rem;

    font-size: 2rem;
  }
}

.header__menu {
  width: 35px;
  height: 21px;

  background-color: transparent;
  background-image: url("../images/svg/icons/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.header__menu--active {
  background-image: url("../images/svg/icons/close-icon.svg");
}

@media (min-width: 768px) { /* tablet */
  .header__menu {
    display: none;
  }
}

.header__navigation {
  position: absolute;
  top: 101px;
  right: 0;
  left: 0;
  z-index: 1;

  display: none;
}

@media (min-width: 768px) { /* tablet */
  .header__navigation {
    position: static;
    top: auto;
    right: auto;
    left: auto;

    display: block;
  }
}

.header__navigation--active {
  display: block;
}

.header__navigation-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

@media (min-width: 768px) { /* tablet */
  .header__navigation-list {
    display: flex;
  }
}

.header__navigation-item:last-child .header__navigation-link {
  border-bottom: 0;
}

.header__navigation-link {
  display: block;
  padding: 1.5rem;

  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
}

@media (min-width: 768px) { /* tablet */
  .header__navigation-link {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 1rem;
    color: var(--primary-color);
    line-height: 100px;

    background-color: var(--secondary-color);
    border-bottom: none;
  }

  .header__navigation-link:hover {
    color: var(--secondary-color);
    
    background-color: var(--primary-color);
  }
}

/**
 * promo
 */

.promo {
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: minmax(29.5rem, auto);

  background: radial-gradient(
    ellipse at center, 
    var(--green-color) 1%, 
    var(--dark-green-color) 100%
  );
  border: 1.5rem solid var(--secondary-color);
  box-shadow: 0 1px 0 var(--gray-color);
}

@media (min-width: 768px) { /* tablet */
  .promo {
    grid-auto-rows: minmax(37.5rem, auto);
  }
}

@media (min-width: 1024px) { /* tablet */
  .promo {
    grid-auto-rows: minmax(42.5rem, auto);
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 768px) { /* tablet */
  .promo__title {
    font-size: 2.5rem;
  }
}

/**
 * tariffs
 */

 .tariffs__title {
  position: relative;

  padding-bottom: 1.5rem;
  margin-top: 0;
  margin-bottom: 4rem;

  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tariffs__title::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 3rem;
  height: 1px;

  background-color: var(--primary-color);

  transform: translateX(-50%);
}

.tariffs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 5rem;
  justify-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.tariffs__list-title {
  padding-top: 4rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;

  background-image: url("../images/svg/icons/price-icon.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20px 36.5px;
}

@media (min-width: 768px) { /* tablet */
  .tariffs__list-title {
    padding-top: 3.5rem;
  }
}

.tariffs__list-description {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 270px;

  color: var(--primary-color);
  text-align: center;
}